# API Settings
PROJECT_NAME="ZERO WASTE"
FRONTEND_URL="http://localhost:8000/api/v1/"
API_V1_STR="/api/v1"
SECRET_KEY="your-secret-key-here"
DOMAIN="localhost"
ENVIRONMENT="local"

# CORS Settings
BACKEND_CORS_ORIGINS=["http://localhost:8000","http://localhost:3000"]

# Email Settings
EMAILS_FROM_NAME="ZERO WASTE"
EMAILS_FROM_EMAIL="your-email@example.com"
SMTP_TLS=True
SMTP_SSL=True
SMTP_PORT=2525
SMTP_HOST="smtp.gmail.com"
SMTP_USER="your-email@gmail.com"
SMTP_PASSWORD="your-app-specific-password"

# Payment Settings
PAYMENT_URL="https://api.paystack.co"
PAYSTACK_SECRET_KEY="your-paystack-secret-key"